@{
    ViewData["Title"] = "Requests & Offers";
    @model Collegiate.Models.CalendarVM;
}

<!-- Model data -->
<script>

    var offers = @Html.Raw(Json.Serialize(Model.DriverOffers));
    var requests = @Html.Raw(Json.Serialize(Model.RiderRequest));
</script>


<div class="container" id="wraper">

    <!-- #region User Request/Offer Lists -->

    <div class="overflow-auto row border-bottom" id="sidebar-wrapper" style="height:300px">

        <!-- #region Requests List -->

        <div class="col">
            @**********************This is where you would hard code in values for ride request cards************@
            @{if ((Model.UserRequests != null) && (Model.UserRequests.Any()))
                {//<a href="#rideRequestCollapse" class="list-group-item list-group-item-action bg-light" data-toggle="colapse" aria-expanded="false">Ride Request</a>

                    <div class="container">
                        <div class="row">
                            <h4 class="col-7">Your Requests</h4>
                            <button type="button" data-toggle="modal" data-target="#addRequestModal" class="btn btn-outline-success col-5">Add a Request!</button>
                        </div>
                    </div>

                    <div class="card" id="redeRequestCollapse">
                        <div>

                            <table id="requestsTable1" class="table table-hover">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col" style="border:none">Departure Time</th>
                                        <th scope="col" style="border:none">Arrival Time</th>
                                        <th scope="col" style="border:none"></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @{
                                        foreach (var item in Model.UserRequests)
                                        {
                                            var address = Model.Locations.ToList().Find(i => i.AddressId == item.AddressId);
                                            <tr>
                                                <td> @item.DepartureTime.ToString(" M/d/yyyy h:mm tt")</td>
                                                <td> @item.ArrivalTime.ToString(" M/d/yyyy h:mm tt")</td>
                                                <td>
                                                    <button class="btn btn-link">Edit</button> @*change this to an action link*@
                                                    <button class="btn btn-link">Cancel</button>@*change this to an action link*@
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
                else
                {
                    <h4>Your Requests</h4>

                    <div class="card">
                        <div>
                            <table id="requestsTable1" class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col" style="border:none">No Requests Currently Active</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-center">
                                        <td><button type="button" data-toggle="modal" data-target="#addRequestModal" class="btn btn-outline-success ">Add a Request!</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
            }
        </div>

        <!-- #endregion -->

        <!-- #region Offers List -->

        <div class="col">
            @**********************This is where you would hard code in values for driver offer cards************@
            @{if ((Model.RiderRequest != null) && (!Model.RiderRequest.Any()))
                {//<a href="#driverOfferCollapse" class="list-group-item list-group-item-action bg-light" data-toggle="colapse" aria-expanded="false">Driver Offers</a>

                    <div class="container">
                        <div class="row">
                            <h4 class="col">Your Offers</h4>
                            <button type="button" data-toggle="modal" data-target="#addOfferModal" class="btn btn-outline-success col">Add an Offer!</button>
                        </div>
                    </div>

                    <div class="card" id="driverOfferCollapse">
                        <div>

                            <table id="requestsTable1" class="table table-hover">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col" style="border:none">Departure Time</th>
                                        <th scope="col" style="border:none">Arrival Time</th>
                                        <th scope="col" style="border:none"></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @{
                                        foreach (var item in Model.UserRequests)
                                        {
                                            var address = Model.Locations.ToList().Find(i => i.AddressId == item.AddressId);
                                            <tr>
                                                <td> @item.DepartureTime.ToString(" M/d/yyyy h:mm tt")</td>
                                                <td> @item.ArrivalTime.ToString(" M/d/yyyy h:mm tt")</td>
                                                <td>
                                                    <button class="btn btn-link">Edit</button> @*change this to an action link*@
                                                    <button class="btn btn-link">Cancel</button>@*change this to an action link*@
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
                else
                {

                    <h4>Your Offers</h4>

                    <div class="card">
                        <div>
                            <table id="requestsTable1" class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col" style="border:none">No Offers Currently Active</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-center">
                                        <td><button type="button" data-toggle="modal" data-target="#addOfferModal" class="btn btn-outline-success ">Add an Offer!</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
            }
        </div>

        <!-- #endregion -->

    </div>

    <!-- #endregion -->

    <!-- #region Calendar -->
    <div class="row">
        <!-- Calendar-->
        <calendar month="@Model.Month" />

        <!-- Requests Modal -->
        <div id="RequestsModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Requests</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">

                        <input type="text" id="requestsSearchInput" onkeyup="requestsSearch()" placeholder="Search for locations...">

                        <table id="requestsTable" class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col" style="border:none">Leaving From</th>
                                    <th scope="col" style="border:none">Going To</th>
                                    <th scope="col" style="border:none">Departure Time</th>
                                    <th scope="col" style="border:none">Arrival Time</th>
                                    <th scope="col" style="border:none"></th>
                                </tr>
                            </thead>
                            <tbody id="requestsTableBody">
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

        <!-- Offers Modal -->
        <div id="OffersModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Offers</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">

                        <input type="text" id="offersSearchInput" onkeyup="offersSearch()" placeholder="Search for locations...">

                        <table id="offersTable" class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col" style="border:none">Leaving From</th>
                                    <th scope="col" style="border:none">Going To</th>
                                    <th scope="col" style="border:none">Departure Time</th>
                                    <th scope="col" style="border:none">Arrival Time</th>
                                    <th scope="col" style="border:none"></th>
                                </tr>
                            </thead>
                            <tbody id="offersTableBody">
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- #endregion -->

    <!-- #region Add Request Modal -->
    <div id="addRequestModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Where do you need to go?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body d-flex justify-content-center">
                    <button type="button" data-toggle="modal" onclick="location.href='@Url.Action("CreateToNMC", "RiderRequest")'" class="btn btn-lg btn-outline-success m-3">To NMC</button>
                    <button type="button" data-toggle="modal" onclick="location.href='@Url.Action("CreateFromNMC", "RiderRequest")'" class="btn btn-lg btn-outline-success m-3">From NMC</button>
                </div>
            </div>

        </div>
    </div>

    <!-- #endregion -->


    <!-- #region Add Offer Modal -->
    <div id="addOfferModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Where are you going?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body d-flex justify-content-center">
                    <button type="button" data-toggle="modal" onclick="location.href='@Url.Action("FindRide", "Home")'" class="btn btn-lg btn-outline-success m-3">To NMC</button>
                    <button type="button" data-toggle="modal" onclick="location.href='@Url.Action("FindRide", "Home")'" class="btn btn-lg btn-outline-success m-3">From NMC</button>
                </div>
            </div>

        </div>
    </div>

    <!-- #endregion -->

</div>
